<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsa.sys.dao.DevTypeDao" >
    <sql id="DevType_Column_List">
        ID AS id, DevTypeID, vc_Name, vc_Icon, i_Sort AS sort, i_IsEnable AS isEnable, i_Flag AS flag, vc_Memo
    </sql>

    <sql id="SubSystem_Column_List">
        ID AS id, SubSystemID, vc_Name, i_Type AS type, i_Visible AS visible, i_Sort AS sort, i_IsEnable AS isEnable, i_Flag AS flag, vc_Memo
    </sql>

    <insert id="insert" parameterType="com.dsa.sys.model.DevType" >
        insert into m_devtype
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="devTypeId != null" >
                DevTypeID,
            </if>
            <if test="vcName != null" >
                vc_Name,
            </if>
            <if test="vcIcon != null" >
                vc_Icon,
            </if>
            <if test="sort != null" >
                i_Sort,
            </if>
            <if test="isEnable != null" >
                i_IsEnable,
            </if>
            <if test="flag != null" >
                i_Flag,
            </if>
            <if test="vcMemo != null" >
                vc_Memo,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="devTypeId != null" >
                #{devTypeId},
            </if>
            <if test="vcName != null" >
                #{vcName},
            </if>
            <if test="vcIcon != null" >
                #{vcIcon},
            </if>
            <if test="sort != null" >
                #{sort},
            </if>
            <if test="isEnable != null" >
                #{isEnable},
            </if>
            <if test="flag != null" >
                #{flag},
            </if>
            <if test="vcMemo != null" >
                #{vcMemo},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.dsa.sys.model.DevType">
        update m_devtype
        <set>
            <if test="devTypeId != null" >
                DevTypeID = #{devTypeId},
            </if>
            <if test="vcName != null" >
                vc_Name = #{vcName},
            </if>
            <if test="vcIcon != null" >
                vc_Icon = #{vcIcon},
            </if>
            <if test="sort != null" >
                i_Sort = #{sort},
            </if>
            <if test="isEnable != null" >
                i_IsEnable = #{isEnable},
            </if>
            <if test="flag != null" >
                i_Flag = #{flag},
            </if>
            <if test="vcMemo != null" >
                vc_Memo = #{vcMemo},
            </if>
        </set>
        where DevTypeID = #{devTypeId}
    </update>

    <delete id="delById">
        DELETE FROM m_devtype m WHERE m.DevTypeID = #{devTypeId}
    </delete>

    <delete id="unLinkAllSubSystem">
        DELETE FROM m_subsystemdevtype m WHERE m.DevTypeID = #{devTypeId}
    </delete>

    <select id="getMaxDevTypeId" resultType="java.lang.Integer">
        SELECT
            MAX(m.DevTypeID)
        FROM
          m_devtype m
    </select>

    <select id="get" resultType="com.dsa.sys.model.DevType">
        SELECT
          <include refid="DevType_Column_List" />
        FROM
          m_devtype m
        WHERE
          m.DevTypeID = #{devTypeId}
    </select>

    <select id="find" resultType="com.dsa.sys.dto.DevTypeDto">
        SELECT
          <include refid="DevType_Column_List" />
        FROM
          m_devtype m
    </select>

    <select id="findSubSystems" resultType="com.dsa.sys.model.SubSystemInfo">
        SELECT
          <include refid="SubSystem_Column_List" />
        FROM
          m_subsysteminfo s
        where s.SubSystemID in (SELECT
          b.SubSystemID
        FROM
          m_devtype a
        JOIN m_subsystemdevtype b
        ON a.DevTypeID = b.DevTypeID
        WHERE a.DevTypeID = #{devTypeId})
    </select>

</mapper>