<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsa.core.dao.OrgInfoDao">
    <!-- 管理单元树 运维班管理单元 -->
    <select id="findOrgInfoTreeList" resultType="com.dsa.core.dto.OrgInfoOutputDto">
            SELECT
                a.OrgID id,
				a.ParentOrgID pid,
				a.vc_Name title,
                a.OrgID orgId,
                a.ParentOrgID parentOrgId,
                a.vc_Name vcName,
                a.vc_Code vcCode,
                a.i_Type iType,
                a.vc_Address vcAddress,
                a.d_MapX dMapX,
                a.d_MapY dMapY,
                a.vc_Memo vcMemo
            FROM
                m_orginfo a ORDER BY a.i_Sort,a.vc_Name
    </select>

    <select id="findTree" resultType="com.dsa.utils.node.Node">
         SELECT * FROM
        (
            SELECT
                a.OrgID id,
                a.ParentOrgID pid,
                a.vc_Name title,
                "0" flag,
                a.i_Sort iSort
            FROM
                m_orginfo a
          <if test="treeFlag == 1 or treeFlag == 2 or treeFlag == 3 or treeFlag == 4"> <!-- 标记为1时 到管理单元 2 到变电站 3到 配电所 4到输出电路 -->
              UNION ALL
              SELECT
              b.UnitID id,
              b.OrgID pid,
              b.vc_Name title,
              "1" flag,
              b.i_Sort iSort
              FROM
              m_unitinfo b
              WHERE 1 = 1
              <!-- 标记为1时 到管理单元 2 到变电站 3到 配电所 4到输出电路 -->
              <if test="treeFlag == 2">
                AND  b.i_Type = 2
              </if>
              <if test="treeFlag == 3">
                AND  b.i_Type = 3
              </if>
              <if test="treeFlag == 4">
                AND  b.i_Type = 1
              </if>
          </if>
        ) s
      ORDER BY s.iSort, s.title
    </select>
    <insert id="insertOrgInfo">
        INSERT INTO m_orginfo (OrgID,ParentOrgID,vc_Code,vc_Name,i_Type,i_Sort,vc_Address,d_Mapx,d_Mapy,i_IsEnable,i_Flag,vc_Memo) VALUES
        (#{orgId},#{parentOrgId},#{vcCode},#{vcName},#{iType},#{iSort},#{vcAddress},#{dMapx},#{dMapy},#{iIsEnable},#{iFlag},#{vcMemo})
    </insert>

    <update id="updateOrgInfo">
        UPDATE m_orginfo  SET
        <trim suffixOverrides=",">
        <if test="parentOrgId != null">
            ParentOrgID = #{parentOrgId},
        </if>
        <if test="vcCode != null">
            vc_Code = #{vcCode},
        </if>
        <if test="vcName != null">
            vc_Name = #{vcName},
        </if>
        <if test="iType != null">
            i_Type = #{iType},
        </if>
        <if test="iSort != null">
            i_Sort = #{iSort},
        </if>
        <if test="vcAddress != null">
            vc_Address = #{vcAddress},
        </if>
        <if test="dMapx != null">
            d_Mapx = #{dMapx},
        </if>
        <if test="dMapy != null">
            d_Mapy = #{dMapy},
        </if>
        <if test="iIsEnable != null">
            i_IsEnable = #{iIsEnable},
        </if>
        <if test="iFlag != null">
            i_Flag = #{iFlag},
        </if>
        <if test="vcMemo != null">
            vc_Memo = #{vcMemo},
        </if>
        </trim>
        WHERE OrgID = #{orgId}
    </update>
    <delete id="delOrgInfo">
        DELETE
        FROM
            m_orginfo
        WHERE
          OrgID = #{orgId}
    </delete>

    <select id="countOrgInfo" resultType="java.lang.Integer">
        SELECT count(1) FROM m_orginfo WHERE 1 = 1
        <if test="parentOrgId != null and parentOrgId != ''">
          AND  ParentOrgID = #{parentOrgId}
        </if>
    </select>
</mapper>